*{
    margin: 0px;
    padding: 0px;
}

main {
    background-image:url(images/desktop/image-header.jpg);
    height: 600px;
    background-position: center;
    background-repeat: none;
    height: 95vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
}

.logo {
    margin-left: 20px;
    height: 10vh;
}

ul {
     display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
}

main h2{
    margin-left: 20px;
}
header h1 { 
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 70px;
    font-size: 80px;
}

.con {
    border: solid white;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding-inline: 10px;
    padding-block: 10px;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
   
}

main img {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.egg{
    background-image: url(/images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    
}
section .transform h1 {
       margin-left: 210px;
        margin-top: 100px;
        margin-bottom: 20px;
        color: hsl(212, 27%, 19%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .transform p {
        margin-left: 210px;
        margin-top: 50px;
        margin-bottom: 20px;
        color: hsl(213, 9%, 39%);
        line-height: 25px;
        font-family: Arial, Helvetica, sans-serif;
}

section .transform h4 {
        margin-left: 210px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-decoration:underline;
        text-decoration-color: hsl(51, 100%, 49%)
}

.cup {
    background-image: url(/images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

section .standout h1 {
        margin-left: 210px;
        margin-top: 100px;
        margin-bottom: 20px;
        color: hsl(212, 27%, 19%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .standout p{
        margin-left: 210px;
        margin-top: 50px;
        margin-bottom: 20px;
        line-height: 25px;
        color: hsl(213, 9%, 39%);
        font-family: Arial, Helvetica, sans-serif;
}

section .standout h4 {
        margin-left: 210px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-decoration:underline;
        text-decoration-color: yellow;
}

.apple{
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

section .para {
          color:hsl(167, 40%, 24%);
          text-align: center;
          margin-top: 400px;
          margin-bottom: 20px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .brand {
          color:hsl(167, 40%, 24%);
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;

}

section .photo {
          color:hsl(167, 40%, 24%);
          text-align: center;
          margin-top: 400px;
          margin-bottom: 20px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section .most {
          color:hsl(167, 40%, 24%);
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
}

.Photography {
    background-image: url(/images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.clients h1 {
          margin-top: 120px;
          margin-bottom: 70px;
          text-align: center;
          color: hsl(212, 27%, 19%);
          font-family: Verdana, Geneva, Tahoma, sans-serif;

}

article {
       display: flex;
       justify-content: center;
       gap: 100px;
       margin-top: 100px; 
     }

article img {
       margin-bottom: 90px;
       border-radius: 1000px;
       width: 80px;
       margin-left: 80px;
       gap: 40px;

}

article p {
       margin-bottom: 50px;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: hsl(212, 27%, 19%);
       text-align: center;
}

article .emilly {
       margin-left: 80px;
       margin-bottom: 10px;
      
}

article .emi {
          color: gray;
          margin-left: 50px;
}

article .tomm{
        margin-left: 90px;
        margin-bottom: 10px;
}

article .tomy {
          color: gray;
          margin-left: 60px;
}

article .jenniee{
          margin-left: 95px;
          margin-bottom: 10px;
}

article .jen {
          color: gray;
          margin-left: 80px;

}

footer {
        display: grid;
         grid-template-columns: repeat(4, 1fr);
}

footer .drink {
   background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
    background-position: right;
    background-size: cover;
    height: 50vh;
    margin-top: 100px;
}


footer .orange {
    background-image: url(/images/desktop/image-gallery-orange.jpg);
    background-position: right;
    background-size: cover;
    height: 50vh;
     margin-top: 100px;
}

footer .cone {
    background-image: url(/images/desktop/image-gallery-cone.jpg);
    background-position: right;
    background-size: cover;
    height: 50vh;
     margin-top: 100px;
}

footer .cube {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
    background-position: right;
    background-size: cover;
    height: 50vh;
     margin-top: 100px;
}

aside {
     background-color: hsl(168, 33%, 58%);
     padding: 10px;

}

 .sunny {
    display: flex;             
    margin-top: 40px;    
    margin-left: 640px;   
}

.infos {
       display: flex;
       gap: 20px;
       margin-left: 612px;
       color: hsl(148, 62%, 26%);
       margin-top: 30px;
       font-weight: lighter;
       font-size: small;
       font-family: 'Poppins', sans-serif;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-right: 95px;
    margin-bottom: 70px;
}

@media (width < 500px){
    main {
        background-image: url(/);
    }
}